<html>
<h1>GC Help Desk: Favorite Tickets!</h1>
<hr>
<table>
    <tr>
        <th>Ticket Id</th>
        <th>Favorited By</th>
    </tr>
    <!-- <tr *ngFor="let f of favTickets; index as i">
        <td>this is where the ID should be {{ f.favoritedby }}</td>
        <td>{{ favTickets.length }}</td>
    </tr> -->
    <tr *ngFor="let f of favorites; index as i">
        <td>{{f.ticketId}}</td>
        <td>{{f.favoritedBy}}</td>
        <td><button (click)="removeFav(f.id!)">Delete</button></td>
    </tr>
</table>
<hr>
<br>
<br>
<br>
<br>
<br>
<br>
</html>