<h1>GC Help Desk: Favorite Tickets!</h1>
<table>
    <tr>
        <th>Ticket Id</th>
        <th>Favorited By</th>
    </tr>
    <!-- <tr *ngFor="let f of favTickets; index as i">
        <td>this is where the ID should be {{ f.favoritedby }}</td>
        <td>{{ favTickets.length }}</td>
    </tr> -->
    <tr *ngFor="let f of favTickets; index as i">
        <td>{{f.ticketid}}</td>
        <td>{{f.favoritedby}}</td>
        <td><button (click)="removeFav(f.ticketid)">Delete</button></td>
    </tr>

</table>