
<h1>Hello {{service.userName}}!</h1>
<h1>GC Help Desk: Tickets</h1>
<table>
    <tr>
        <th>Ticket Id</th>
        <th>Opened By</th>
        <!-- <th>Issue</th> -->
        <th>Resolved By</th>
        <th>Resolution</th>
        <th>Resolved</th>
        <th>Favorited</th>
    </tr>
    <tr (click)="displayIssue(t)" *ngFor="let t of tickets; index as i">
        <td>{{ t.id }}</td>
        <td>{{ t.openedBy }}</td>
        <!-- <td>{{ t.issue }}</td> -->
        <td>{{ t.resolvedBy }}</td>
        <td>{{ t.resolution }}</td>
        <td>{{ t.resolved }}</td>
        <td>{{ t.favorited }}</td>
        <td><button (click)="removeTicket(t.id!)">Delete</button></td>
        <td><button (click)="addFavorite(t)">Favorite</button></td>
        <input [(ngModel)]="resolution"><button (click)="addResolution(t)">Add Resolution</button>
        <!-- <td><button onclick="t.resolved = true">Resolve</button></td> -->
    </tr>
</table>
<hr>
<p>Issue for selected ticket #{{ currentIndex}}: {{ currentIssue }}</p>
<hr>
<p>New issue:</p><input [(ngModel)]="newIssue"><button (click)="addTicket(newTicket)">Add Ticket</button>